@font-face{
    font-family: 'Roboto-Light';
    src:url('font/Roboto-Light.ttf');
}
@font-face{
    font-family: 'Roboto-Bold';
    src:url('font/Roboto-Bold.ttf');
}
@font-face{
    font-family: 'Roboto-Regular';
    src:url('font/Roboto-Regular.ttf');
}
*{
    margin:0;
    padding:0;
}

.wrapper{
    background-image: url('img/bg.png');
    z-index: 999;
    padding-bottom:55px;
    
}

.header-background{
    background-image: url("img/view.png");
    padding-bottom:20px;
}
.wrapper-container{
    max-width:960px;
    margin: 0 auto;
    font-family: 'Roboto-Light';
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top:40px;
}
.contacts{
    display: flex;
    align-self: stretch;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
}
.contacts>h1{
    font-size: 48px;
    font-weight: 100;
}

.info{
    padding-top:15px;
    font-family: 'Roboto-Bold';
    font-size: 12px;
}
/* Вывод комментариев */
.comments{
    padding-top:35px;
    padding-bottom:30px;
    border-bottom: 1px solid rgb(218, 216, 216);
}
.comment-container{
    margin-bottom:25px;
}
.comment-header{
    display: flex;
    align-items: flex-end;
    font-family: 'Roboto-Light';
    font-size: 14px;
    margin-bottom:15px;
}

.name{
    font-size: 16px;
    font-family: 'Roboto-Bold';
}

.margin-right{
    margin-right:40px;
}
.margin-right2{
    margin-right: 10px;
}

.padding-bottom{
    padding-bottom:10px;
}
/* Форма для заполнения */

.form{
    width:50%;
    display: flex;
    flex-direction: column;
    padding-top:25px;
}

.form button{
    display:block;
    position: relative;
    margin-left:auto;
    padding:12px 18px;
    border:2px solid black;
    border-radius: 5px;
    text-decoration: none;
    color:black;
    font-size: 18px;
    font-family: 'Roboto-Light';
    /* font-weight: bold; */
}
.form h2{
    font-family: 'Roboto-Regular';
    font-size: 24px;
    font-weight: normal;
}
.form p{
    padding:25px 0 12px 0;
    font-size: 14px;
    /* font-weight: bold; */
}

.inputName{
    width:100%;
    font-family: 'Roboto-Light';
    border-radius: 5px;
    border: 0;
    padding:5px 0;
    font-size: 14px;
    line-height: 18px;
}

.textarea{
    font-family: 'Roboto-Light';
    font-size: 14px;
    width:100%;
    height:130px;
    border:2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    
}

.textarea[type=text]{
    width:150px;
    height:150px;
}

.underline{
    text-decoration: underline;
}
/* Подвал */
.footer{
    background-image: url('img/bg-footer.png');
}

.footer__container{
    display: flex;
    align-items: flex-end;
    padding:15px 0 12px 0;
}

.footer__container-info{
    font-family: 'Roboto-Bold';
    font-size: 12px;
    margin-left: 38px;
    font-weight: bold;
}

.copyWriting{
    font-family: 'Roboto-Regular';
    padding-top:20px;
    font-size: 12px;
}

.padding-bottom_footer{
    padding-bottom:10px;
}